= form_for @wiki do |f|
  = f.text_field :title
  = f.text_area :body
  - if current_user.admin? || current_user.premium?
    = f.check_box :private
  .actions
    = f.submit 'Save changes', class: 'button small'
