.row
  .small-12.medium-6.medium-centered.columns
    %h2
      Edit #{resource_name.to_s.humanize}

.row
  .small-12.columns
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .row
        .small-12.medium-6.medium-centered.columns
          .row
            .small-12.medium-6.columns
              = f.text_field :name, autofocus: true
            .small-12.medium-6.columns
              = f.text_field :lastname, label: 'Last Name'
      .row
        .small-16.medium-6.medium-centered.columns
          = f.text_field :username
      .row
        .small-16.medium-6.medium-centered.columns
          = f.email_field :email
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      .row
        .small-16.medium-6.medium-centered.columns
          = f.password_field :password, autocomplete: "off", hint: "leave blank if you don't want to change it", label:'New password'
      .row
        .small-16.medium-6.medium-centered.columns
          = f.password_field :password_confirmation, autocomplete: "off", label:'New password confirmation'
      .row
        .small-16.medium-6.medium-centered.columns
          = f.password_field :current_password, autocomplete: "off"
          %span.hint we need your current password to confirm your changes)
      .row
        .small-16.medium-6.medium-centered.columns
          = f.submit "Update", class:'button small'
          %hr/
    .row
      .small-16.medium-6.medium-centered.columns
        %h3 Cancel my account
        %p
          Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'button tiny alert'}